* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin-top: 20px;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .detail-box p {
    margin-top: 20px;
}

.about_section .detail-box a {
    text-decoration: none;
    display: inline-block;
    padding: 7px 25px;
    background-color: #252525;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 35px;
    margin-bottom: 11%;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    border-color: #252525;
    color: #252525;
}

.about_section .img-box img {
    width: 100%;
}

body {
    background-color: #f2f2f2;
}
