* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    max-width: 80;
}

section {
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10px 100px;
}

.full-container {
    color: white;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid black;
    position: relative;
    top: -30%;
    margin: 1rem;
    padding: 2rem 0;
    width: 100%;
    height: 80%;
}

.left-container {
    width: 40%;
    height: 80%;
}

.left-container h1 {
    text-align: center;
    font-size: 300%;
    padding: 2rem;
}

.textarea {
    resize: vertical;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30%;
    margin: 1rem;
    width: 35%;
    height: 30%;
}

iframe {
    height: 60vh;
    width: 60vw;
}


/* input */

.mb-3 {
    margin-bottom: 1rem!important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}


/* text area */

.input-group>.form-control,
.input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

textarea.form-control {
    min-height: calc(1.5em + (.75rem + 2px));
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea {
    resize: vertical;
}


/* button */

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #198754;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


/* responsive */

@media (max-width: 900px) {
    .full-container {
        flex-direction: column;
    }
    .right-container {
        width: 80%;
        padding: 10%;
    }
    .left-container h1 {
        font-size: 200%;
    }
}


}