/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
  outline: none;
}

/* navbar css */
header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10%;
}

.logo img {
  max-width: 120px;
  height: auto;
}
.search-bar {
  display: flex;
  margin-top: 1.3%;
  background-color: hsl(252, 30%, 95%);
  border-radius: 2rem;
  padding: 0.2rem 1rem;
}
.search-bar input[type="search"] {
  background: transparent;
  border: none;
  width: 20vw;
  /* margin-left: 1rem; */
  font-size: 0.9rem;
  color: black;
}

.search-bar a {
  color: #2c2c2c;
  font-size: 16px;
  padding: 3px 20px;
  margin-right: 20px;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.search-bar a:hover {
  color: #ee1c47;
}
.nav-icon {
  display: flex;
}
.icons-container {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.nav-icon i:hover {
  transform: scale(1, 1);
  color: #ee1c47;
}
.dropdown .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    margin-bottom: 5px;
    padding: 0;

}
.dropdown .btn i{
    margin: 0;
    padding: 0;
}
#menu-icon {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 2px;
  color: #2c2c2c;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* responsive */
@media (max-width: 900px) {
  header {
    padding: 0 3%;
    transition: 0.4s;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: flex;
  }
  .nav-icon i {
    margin: none;
  }
  .dropdown{
    margin: 1rem 0;
  }
  .icons-container {
    position: absolute;
    top: 150%;
    right: -100%;
    width: 100px;
    /* height: 100vh; */
    background: #5b24e0;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 30px 200% 30px;
    transition: all 0.42s ease;
  }
  .icons-container a {
    display: block;
    margin: 1rem 0;
    padding-left: 55%;
  }
  .icons-container i {
    color: rgb(218, 218, 218);
  }
  .icons-container.open {
    right: 0;
  }
}

/* navbar css end  */

/* footer  */

/* contact section  */

.contact {
  background-color: #f3f4f6;
  padding: 3% 3%;
}
.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.first-info img {
  max-width: 140px;
  height: auto;
  padding: 1rem;
}
.first-info .box a {
    color: var(--light-white);
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    display: block;
    text-decoration: none;
  }
.contact-info h4 {
  color: #212529;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-info p {
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.42s;
}
.contact-info p a{
    text-decoration: none;
    color:#565656;
}
.contact-info p:hover {
  color: #ee1c47;
  padding-left: 1rem;
}
.contact-info p:hover i {
    color: #ee1c47;
    padding-right: 1rem;
    transition: all .6s ease;
  }

.social-icon i {
  color: #565656;
  margin-right: 10px;
  font-size: 30px;
  transition: all 0.42s;
}
.social-icon .bxl-linkedin-square:hover {
  transform: scale(1.5);
  color: rgb(70, 70, 248);
}
.social-icon .bxl-twitter:hover {
    transform: scale(1.5);
    color: #1DA1F2;
  }
  .social-icon .bxl-facebook-circle:hover {
    transform: scale(1.5);
    color: rgb(70, 70, 248);
  }
  .social-icon .bxl-instagram:hover {
    transform: scale(1.5);
    color: #C13584;
  }
  .social-icon .bxl-github:hover {
    transform: scale(1.5);
    color: black;
  }

.social-icon i .bxl-instagram:hover{
    color: purple;
}

.end-text {
  background-color: #4100da;
  text-align: center;
  padding: 20px 0 10px 0;
}
.end-text p {
  color: white;
  text-transform: capitalize;
}
.end-text p:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

